.col{

    display: inline-block;
    text-align: center;
    font-size: 10px;
    border-radius: 4px;
    transition: all 0.3s linear;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}


   
#img{
    size: 200px; 
    
}