.ref{
    border: solid black;
}

.ref2{
    border: solid palevioletred;
}

.ref3{
    border: solid aquamarine;
}

.ref4{
    border: solid gray;
}

.ref5{
    border: solid green;
}

.ex2{
    width: 150px;
}

.ex2-1{
    width: 150px;
}